#background-colour
.bg-light {
    background-color: #f5f5f5;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

/* card general */
.card h,
.card p {
  color: #fff;
}
.card-header {
    background-color: rgb(106, 106, 225);
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
  }
  
  .card-body {
    background-color: rgb(99, 178, 204);
    padding: 1rem;
  }
/* current-weather */
.current-weather {
    text-align: center;
  }
  
  .current-weather i {
    color: blue;
  }
  
  .current-weather .d-flex {
    justify-content: center;
  }
  
  /* upcoming-weather */
  .upcoming-weather i.fas.fa-sun {
    color: #FF5733;
    font-size: 50px;
  }
  
  .upcoming-weather i.fas.fa-cloud,
  .upcoming-weather i.fas.fa-cloud-showers-heavy {
    color: blue;
    font-size: 50px;
  }
  

